.border{

    height : 500px;
    background-color:lightblue;
    margin:20px 500px;
    border-radius:50px;
}
input[type=button]{
    width: 22%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-size:20px;
}
input[type=text]{
    width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size:15px;
}
input[type=button]:hover {
    background-color:  #3CBC8D;
}
#b{
    width:50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-size:20px;
}